@model IEnumerable<INSPECTORATEJobs.ViewModels.AdvertisedJobs>
@{
    ViewBag.Title = "Advertised Jobs";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="col-md-10">
    
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Advertised Jobs</span>
                </div>
                @*<i class="fa fa-database"></i>&nbsp;Job Applications Board*@
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                </div>
                <table id="example1"  class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>REF No.</th>
                            <th>Job Id</th>
                            <th>Job Title</th>
                            <th>Required Positions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in @Model)
                        {
                            <tr>
                                <td>@job.Counter</td>
                                <td>@job.JobRefNo</td>
                                <td>@job.JobId</td>
                                <td>@job.JobTitle</td>
                                <td>@job.RequiredPositions</td>
                                <td><a href="@Url.Action("details", "home", new {jobId=job.JobId, refNo=job.JobRefNo})">Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    
</div>